<div class="container">
    <div class="text-center">
        <h3>Citizens registration form</h3>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="username" class="form-label">NIC</label>
            <div class="input-group has-validation">            
                <input type="text" class="form-control" id="username" placeholder=" Input NIC number." required>
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
        <div class="col-12">
            <label for="username" class="form-label">fullName</label>
            <div class="input-group has-validation">         
                <input type="text" class="form-control" id="username" placeholder="Input fullName" required>
                <div class="invalid-feedback">           
                </div>
            </div>
        </div>
        <div class="col-12">
            <label for="username" class="form-label">Name With Initials</label>
            <div class="input-group has-validation">             
                <input type="text" class="form-control" id="username" placeholder="input your Name With Initials" required>
                <div class="invalid-feedback">       
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label">contactNumber</label>
            <div class="input-group has-validation">            
                <input type="number" class="form-control" id="username" placeholder="Input your contact Number" required>
                <div class="invalid-feedback">    
                </div>
            </div>
        </div>

        <div class="col-12">
            <label for="username" class="form-label">address</label>
            <div class="input-group has-validation">              
                <input type="text" class="form-control" id="username" placeholder="Input your address" required>
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label"> Gender</label>
            <div class="input-group has-validation">              
                <input type="text" class="form-control" id="username" placeholder="Input your gender" required>
                <div class="invalid-feedback">
                    
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label">country Of Birth</label>
            <div class="input-group has-validation">             
                <input type="text" class="form-control" id="username" placeholder="input country Of Birth" required>
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label">income</label>
            <div class="input-group has-validation">       
                <input type="text" class="form-control" id="username" placeholder="Input you incomr " required>
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label">Name With Initials</label>
            <div class="input-group has-validation">            
                <input type="text" class="form-control" id="username" placeholder="input Name With Initials" required>
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label">DOB</label>
            <div class="input-group has-validation">            
                <input type="number" class="form-control" id="username" placeholder="Input your DOB" required>
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label">pofession</label>
            <div class="input-group has-validation">           
                <input type="text" class="form-control" id="username" placeholder="Input pofession" required>
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>
        </div>
  
        <div class="col-12">
            <label for="username" class="form-label">civilStatus</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="username" placeholder="Input civil Status" required>
                <div class="invalid-feedback">
                    Your username is required.
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Submite
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  